@import '../../common/colors.scss';

.movie-list,.series-list{
    margin: 20px 0px;
    h2{
        color: $font-primary;
        margin-bottom: 15px;
        font-weight: 400;
    }
}

.movie-container, .series-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px,1fr));
    grid-gap: 15px;
}