@import '../../common/colors.scss';

.header{
background-color: $secondary-color;
height: 72px;
padding: 0px 40px;
display: flex;
align-items: center;
justify-content: space-around;
}

.logo{
    font-size: 20px;
    font-weight: 600;
    color: $font-primary;
}

.user-image, .user-image img{
height: 50px;
width: 50px;
}