@import '../../common/colors.scss';

.footer{
    background-color:$secondary-color ;
    height: 72px;
    display: flex;
    color: $font-primary;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}